#!/usr/bin/make -f

CFLAGS := $(shell dpkg-buildflags --get CFLAGS) -fvisibility=hidden
CXXFLAGS := $(shell dpkg-buildflags --get CXXFLAGS) -fvisibility=hidden
LDFLAGS := $(shell dpkg-buildflags --get LDFLAGS)

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

dh += --buildsystem=qmake

override_dh_auto_configure:
	./configure --verbose --prefix=/usr --qtdir=/usr/share/qt4 --debug --no-separate-debug-info
	echo QMAKE_CFLAGS_DEBUG="$(CFLAGS)" >> conf.pri
	echo QMAKE_CXXFLAGS_DEBUG="$(CXXFLAGS)" >> conf.pri
	echo QMAKE_LDFLAGS_DEBUG="$(LDFLAGS)" >> conf.pri

override_dh_strip:
	$(overridden_command) --dbg-package=libqca2-dbg

override_dh_clean:
	$(overridden_command)
	rm -rf confapp_unix.pri conf.log conf.pri crypto.prf lib/
